.view {
    margin: 6px;
    float: left;
    border: 7px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 4px #888888;
    cursor: default;
    background: #fff;
}
.view .mask, .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: underline;
    color: black;
}
.view-fifth img {
	transition: all 0.3s ease-in-out; 
}
.view-fifth .mask { 
	transform: translateX(-300px);
	opacity: 1;
	transition: all 0.4s ease-in-out; 
}
.view-fifth p{
    opacity: 0;
    color: #333;
    transition: all 0.2s linear;
    font-family: 'ABeeZee', Arial, sans-serif;
}
.view-fifth:hover .mask { 
	transform: translateX(0px);
    transition: all 0.4s ease-in-out; 
    img {
        margin: auto;
        transform: none;
        
    }
}						
.view-fifth:hover img { 
	transform: translateX(100%);
	transition-delay: 0.1s;
}
.view-fifth:hover p{
    opacity: 1;
    transition-delay: 0.4s;
}