<footer class="footer">
    <div class="links">
        <div class="inner">
            <div class="row small-up-1 medium-up-2 large-up-4">
                <div class="column">
                    <h3>RECENT BLOG POST</h3>
                    [[pdoMenu? &parents=`21,23,25` &level=`1` &limit=`4` &rowClass=`elipse` &showHidden=`1`]]
                </div>
                <div class="column">
                    <h3>BLOG CATEGORIES</h3>
                    [[pdoMenu? &parents=`15` &level=`1` &showHidden=`1`]]
                </div>
                <div class="column">
                    <h3>FOLLOW US</h3>
                    <ul>
                        <li><a href="http://twitter.com/figytech"><img src="[[++path]]assets/img/twiter_ico.png" alt="">@figytech</a></li>
                        <li><a href="http://www.linkedin.com/pub/figytech-us/45/b04/65b"><img src="[[++path]]assets/img/linked_ico.png" alt="">Figytech US</a></li>
                        <li><a href="http://facebook.com/figytech"><img src="[[++path]]assets/img/face_ico.png" alt="">facebook.com/figytech</a></li>
                        <li><a href="http://plus.google.com/105757521096328006884"><img src="[[++path]]assets/img/google_ico.png" alt="">+figytech</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3>CONTACT US</h3>
                    <ul>
                        <li><a href="#">609-849-0495</a></li>
                        <li><a href="mailto:contactus@figytech.com">contactus@figytech.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <p class="text-center">© 2016 Figytech | All rights reserved</p>
        <div class="clearfix"></div>
    </div>
</footer>