<header class="head">
    <div class="inner desk-menu">
        <div class="logo">
            <a href="[[site_url]]"><img src="[[++path]]assets/img/figytech_logo.png" alt=""></a>
        </div>
        [[pdoMenu?
            &parents=`0`
            &level=`1`
            &resources=`-6`
            &outerClass=`menu`
        ]]
        <div class="top-phone">
            <p>CALL: 609 - 849 - 0495</p>
        </div>
    </div>
    <!-- mob menu -->
    <div class="mob-head small-12 column">
        <div class="logo small-8 column">
            <img src="[[++path]]assets/img/figytech_logo.png" alt="">
        </div>
        <div class="mob-btn small-4 column">
            <img class="mob-click" src="[[++path]]assets/img/menuButton.png" alt="">
        </div>
    </div>
    <div class="mob-menu">
        [[pdoMenu?
            &parents=`0`
            &level=`1`
            &resources=`-6`
            &tplOuter=`@INLINE <ul class="vertical menu" data-accordion-menu>[[+wrapper]]</ul>`
        ]]
        <div class="clearfix"></div>
    </div>
</header>
