<aside class="large-2 columns">
    <ul class="menu vertical">
    [[*parent:is=`6`:then=``:else=`<li><a href="[[~[[*parent]]]]">[[#[[*parent]].menutitle:default=`[[#[[*parent]].pagetitle]]`]]</a></li>`]]
    <li><a href="[[~[[*id]]]]">[[*menutitle:default=`[[*pagetitle]]`]]</a></li>
    [[pdoMenu? &parents=`[[*id]]` &level=`2` &tplOuter=`@INLINE [[+wrapper]]` ]]
    </ul>
</aside>