<section style="padding:0 0 0 2rem;" class="large-4 columns">
    <div style="background-color:#[[*Color]]" class="quote">
        <div class="bubble">
            FREE QUOTE
        </div>
        [[!AjaxForm?
                &snippet=`FormIt`
                &form=`tpl.quote`
                &hooks=`email`
                &emailSubject=`Free quote`
                &emailTo=`simplygrafx@gmail.com`
                &validate=`email:required,message:required`
                &validationErrorMessage=`Please fill all fields!`
                &successMessage=`Sent successfully`
            ]]
<!--
        <input type="text" placeholder="Your e-mail (or phone number)">
        <textarea style="height:80px;" placeholder="I need a quote for..."></textarea>
        <input type="submit" class="btn" value="Submit">
-->
    </div>
    <div class="box">
        <div style="background-color:#[[*Color]]; border-top-color:#[[*Color]];" class="bubble">
            NEWSLETTER
        </div>
        [[!AjaxForm?
                &snippet=`FormIt`
                &form=`tpl.email`
                &hooks=`email`
                &emailSubject=`Email newsletter`
                &emailTo=`simplygrafx@gmail.com`
                &validate=`email:required`
                &validationErrorMessage=`Please fill your email address!`
                &successMessage=`Sent successfully`
            ]]
<!--
        <input type="text" placeholder="e-mail address">
        <input type="submit" class="btn" value="Submit">
-->
    </div>
    <div class="box">
        <div style="background-color:#[[*Color]]; border-top-color:#[[*Color]];" class="bubble">
            Tell Us How We Did
        </div>
        [[!AjaxForm?
                &snippet=`FormIt`
                &form=`tpl.testimonial`
                &hooks=`email`
                &emailSubject=`Testimonial`
                &emailTo=`simplygrafx@gmail.com`
                &validate=`email:required,message:required`
                &validationErrorMessage=`Please fill all fields!`
                &successMessage=`Sent successfully`
            ]]
    </div>
</section>