<section style="background-color:#[[*Color]]" class="subhead">
    <div class="inner">
        <div class="small-12 medium-6 large-5 columns">
            <h2>[[*longtitle:default=`[[#[[*parent]].longtitle]]`]]</h2>
            <p>[[*description:default=`[[#[[*parent]].description]]`]]</p>
        </div>
        <div class="large-7 show-for-large columns">
            [[pdoMenu? &parents=`6` &level=`1` &outerClass=`baner_nav` &rowClass=`[[+link_attributes]]` &includeTVs=`image` &tplOuter=`@INLINE <ul style="right:0;" [[+classes]]>[[+wrapper]]</ul>` &tpl=`@INLINE <li[[+classes]]><a href="[[+link]]" [[+attributes]]>[[+menutitle:default=`[[+pagetitle]]`]] <img src="[[+image]]" alt=""></a>[[+wrapper]]</li>`]]
        </div>
        <div class="baner-mob-menu baner-height small-12 medium-6 hide-for-large column">
                <a href="[[~7]]"><div class="small-3 column"style="background-color: #da8940; padding:0;"><img src="[[++path]]assets/img/networking_ico.png" alt=""></div></a>
                <a href="[[~8]]"><div class="small-3 column" style="background-color: #38bbdc; padding:0;"><img src="[[++path]]assets/img/web-solutions_ico.png" alt=""></div></a>
                <a href="[[~9]]"><div class="small-3 column" style="background-color: #5CB07A; padding:0;"><img src="[[++path]]assets/img/repairs_ico.png" alt=""></div></a>
                <a href="[[~10]]"><div class="small-3 column" style="background-color: #DA5B5B; padding:0;"><img src="[[++path]]assets/img/software_ico.png" alt=""></div></a>
        </div>
    </div>
</section>
