<div class="bubble testemonial">
    <p>This is the best IT business in NJ</p>
    <p><strong>Daniel Kurkowski, Kurkowski law LLC</strong></p>
</div>
<div class="bubble testemonial">
    <p>I just said "I want a website for my company. Make it better than the one my competitor has" and these guys delivered.</p>
    <p><strong>Chris Marlow, Busy-Bot.com</strong></p>
</div>