{{> subhead}}
<div class="inner large-collapse">
    {{> sidemenuMainLinks}}
    <section class="large-6 columns content">
        [[*content]]

        <ul class="tabs" data-tabs id="tabs">
            [[!getImageList? &tvname=`Tabs` &tpl=`tabsTitle`]]
        </ul>
        <div style="background-color:#[[*Color]];border-top-color:#[[*Color]]" class="bubble tabs-content" data-tabs-content="tabs">
            [[!getImageList? &tvname=`Tabs` &tpl=`tabsTpl`]]
        </div>
        <div class="contact-bottom">
            <a href="">
                Contact Us for a FREE QUOTE or <br>
                CALL: 609 - 849 - 0495
            </a>
        </div>
    </section>
    {{> sidebar}}
</div>
<div class="clearfix"></div>
{{> footer}}
