{{> subhead}}
<div class="inner large-collapse">
    {{> sidemenuBlog}}
    <section class="large-6 columns content">
        [[pdoResources?
            &depth=`0`
            &tpl=`blogItem`
            &includeTVs=`image`
        ]]
    </section>
    {{> sidebar}}
</div>
<div class="clearfix"></div>
{{> footer}}