{{> subhead}}
<div class="inner large-collapse">
    {{> sidemenuBlog}}
    <section class="large-6 columns content">
        <h1>[[*pagetitle]]</h1>
        [[*content]]
    </section>
    {{> sidebar}}
</div>
<div class="clearfix"></div>
{{> footer}}