{{> subhead}}
<div class="inner">
    <aside class="large-4 columns">
        <div class="quote">
            <div class="bubble">
                GENERAL INQUIRY FORM
            </div>
            [[!AjaxForm?
                &snippet=`FormIt`
                &form=`tpl.contact`
                &hooks=`email`
                &emailSubject=`Contact`
                &emailTo=`simplygrafx@gmail.com`
                &validate=`email:required,message:required`
                &validationErrorMessage=`Please fill all fields!`
                &successMessage=`Sent successfully`
            ]]
<!--
            <input type="text" placeholder="Full name">
            <input type="text" placeholder="Company name">
            <input type="text" placeholder="Web site">
            <input type="text" placeholder="Your e-mail (or phone number)">
            <textarea style="height:80px;" placeholder="Message"></textarea>
            <input type="submit" class="btn" value="Submit">
-->
        </div>
    </aside>
    <section style="padding-left:7rem; margin-bottom:4rem" class="mapa large-8 columns">
        <div class="contact-map small-centered column">
            <div class="curcle">
               <img src="[[++path]]assets/img/figytech_logo_contact.png" alt="">
                <p>1109 Route 47 South<br>
                Rio Grande, NJ 08242 <br>
                phone: (609) 849-0495<br>
                fax: (609) 849-9455</p>
                <ul>
                    <li><a href="#"><img src="[[++path]]assets/img/twiter_ico.png" alt=""></a></li>
                    <li><a href="#"><img src="[[++path]]assets/img/linked_ico.png" alt=""></a></li>
                    <li><a href="#"><img src="[[++path]]assets/img/face_ico.png" alt=""></a></li>
                    <li><a href="#"><img src="[[++path]]assets/img/google_ico.png" alt=""></a></li>
                </ul>
            </div>
            <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div class="google-desk column" style='overflow:hidden;height:500px;width:500px; border-radius: 50%;'><div id='gmap_canvas' style='height:500px;width:500px;border-radius: 50%;'></div><div><small><a href="http://embedgooglemaps.com">									embed google maps							</a></small></div><div><small><a href="http://freedirectorysubmissionsites.com/">link directories</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:11,center:new google.maps.LatLng(39.0161248,-74.88009690000001),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(39.0161248,-74.88009690000001)});infowindow = new google.maps.InfoWindow({content:'<strong>Figytech</strong><br>1109 NJ-47,Middle Township, NJ 08242<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>

            <div class="clearfix"></div>
        </div>
    </section>
</div>
<div class="clearfix"></div>
{{> footer}}
