
<section class="baner show-for-large colimn" style="background-image: url([[++path]]assets/img/networking.jpg);">
    <div class="baner_curtain">
        <div style="height: 100%" class="inner">
            <div class="video">
                <a href="#" id="start_video">Watch Promo Video</a>
                <iframe width="376" height="211" src="http://www.youtube.com/embed/qy0eHQfIjgU?feature=player_detailpage&amp;autoplay=0&amp;controls=0&amp;showinfo=0&amp;rel=0" frameborder="0" allowfullscreen="" class="hide" id="video"></iframe>
            </div>
            <div class="network">
                <div class="title">
                    <img src="[[++path]]assets/img/networking.png" alt="">
                    <h2 style="color: #da8940">NETWORKS</h2>
                    <div class="clearfix"></div>
                </div>
                <p>We are offering a complete set of networking solutions, to individuals as well as to businesses and organizations. This includes setting up a wireless network, installing routers and switches, or configuring the ones you already have, system administration as well as web hosting and domain name registration services. If you are looking for a provider of networking solutions in Cape May, we at Figytech have a competent team that can come to your home or place of business and deal with any networking problem that you might have.</p>
            </div>
            <div class="web hide">
                <div class="title">
                    <img src="[[++path]]assets/img/web.png" alt="">
                    <h2 style="color: #da8940">WEB SOLUTIONS</h2>
                    <div class="clearfix"></div>
                </div>
                <p>Figytech can provide you with a full range of web solutions. Some of the web-related issues that we can help you with are web design services, which means that we can both create a website for you and take care of the site maintenance; graphic design solutions, branding and SEO services.</p>
            </div>
            <div class="repairs hide">
                <div class="title">
                    <img src="[[++path]]assets/img/repairs.png" alt="">
                    <h2 style="color: #da8940">REPAIRS</h2>
                    <div class="clearfix"></div>
                </div>
                <p>Our repairs team is ready to offer their expertise and help you in case of a hardware or software malfunction. We are available for troubleshooting and hardware repair or replacement, but we can also help you set up your PC, connect additional components, install the programs that you need, or remove harmful Malware or viruses from your PC.</p>
            </div>
            <div class="software hide">
                <div class="title">
                    <img src="[[++path]]assets/img/software.png" alt="">
                    <h2 style="color: #da8940">SOFTWARE SOLUTIONS</h2>
                    <div class="clearfix"></div>
                </div>
                <p>Our repairs team is ready to offer their expertise and help you in case of a hardware or software malfunction. We are available for troubleshooting and hardware repair or replacement, but we can also help you set up your PC, connect additional components, install the programs that you need, or remove harmful Malware or viruses from your PC.</p>
            </div>
            <ul class="baner_nav">
                <li style="background-color: #DA8940" id="network"><a href="[[~7]]">Networks <img src="[[++path]]assets/img/networking_ico.png" alt=""></a></li>
                <li id="web"><a href="[[~8]]">WEB SOLUTIONS <img src="[[++path]]assets/img/web-solutions_ico.png" alt=""></a></li>
                <li id="repairs"><a href="[[~9]]">REPAIRS <img src="[[++path]]assets/img/repairs_ico.png" alt=""></a></li>
                <li id="software"><a href="[[~10]]">SOFTWARE SOLUTIONS <img src="[[++path]]assets/img/software_ico.png" alt=""></a></li>
                <li><a href="[[~5]]">CONTACT <img src="[[++path]]assets/img/contact_ico.png" alt=""></a></li>
            </ul>
        </div>
    </div>

</section>

<!-- baner mob -->
<div class="baner-mob hide-for-large column">
    <div>
        <div class="network-mob">
            <div class="title-mob">
                <img style="margin:0 auto;" src="[[++path]]assets/img/networking.png" alt="">
                <br>
                <h2 style="color: #da8940">NETWORKS</h2>
                <p style="color:white;">We are offering a complete set of networking solutions, to individuals as well as to businesses and organizations. This includes setting up a wireless network, installing routers and switches, or configuring the ones you already have, system administration as well as web hosting and domain name registration services. If you are looking for a provider of networking solutions in Cape May, we at Figytech have a competent team that can come to your home or place of business and deal with any networking problem that you might have.</p>
            </div>
        </div>
    </div>
    <div>
        <div class="web-mob">
            <div class="title-mob">
                <img style="margin:0 auto;" src="[[++path]]assets/img/web.png" alt="">
                <br>
                <h2 style="color: #55c2dd">WEB SOLUTIONS</h2>
                <p>Figytech can provide you with a full range of web solutions. Some of the web-related issues that we can help you with are web design services, which means that we can both create a website for you and take care of the site maintenance; graphic design solutions, branding and SEO services.</p>
            </div>
        </div>
    </div>
    <div>
        <div class="repairs-mob">
            <div class="title-mob">
                <img style="margin:0 auto;" src="[[++path]]assets/img/repairs.png" alt="">
                <br>
                <h2 style="color: #69b684">REPAIRS</h2>
                <p>Our repairs team is ready to offer their expertise and help you in case of a hardware or software malfunction. We are available for troubleshooting and hardware repair or replacement, but we can also help you set up your PC, connect additional components, install the programs that you need, or remove harmful Malware or viruses from your PC.</p>
            </div>
        </div>
    </div>
    <div>
        <div class="software-mob">
            <div class="title-mob">
                <img style="margin:0 auto;" src="[[++path]]assets/img/software.png" alt="">
                <br>
                <h2 style="color: #dd6868">SOFTWARE SOLUTIONS</h2>
                <p>Our repairs team is ready to offer their expertise and help you in case of a hardware or software malfunction. We are available for troubleshooting and hardware repair or replacement, but we can also help you set up your PC, connect additional components, install the programs that you need, or remove harmful Malware or viruses from your PC.</p>
            </div>
        </div>
    </div>
</div>

<div class="baner-mob-menu hide-for-large column">
        <a href="[[~7]]"><div class="small-3 column"style="background-color: #da8940;"><img src="[[++path]]assets/img/networking_ico.png" alt=""></div></a>
        <a href="[[~8]]"><div class="small-3 column" style="background-color: #38bbdc;"><img src="[[++path]]assets/img/web-solutions_ico.png" alt=""></div></a>
        <a href="[[~9]]"><div class="small-3 column" style="background-color: #5CB07A;"><img src="[[++path]]assets/img/repairs_ico.png" alt=""></div></a>
        <a href="[[~10]]"><div class="small-3 column" style="background-color: #DA5B5B;"><img src="[[++path]]assets/img/software_ico.png" alt=""></div></a>
</div>

<section style="background-color: #DA8940" class="baner_content">
    <div class="row collapse">
        <div class="large-8 show-for-large columns border-right">
            <div class="network">
                <p>
                <br><br>
                    If you are looking for a prime provider of networking solutions in the South New Jersey region, you need look no further, as we can assist you with every network based issue you might encounter.
                </p>
                <p class="white">We have extensive experience in setting up wireless networks or upgrading the one that you are currently using. A number of businesses prefer using wireless networks for obvious reasons, but not everyone is ready to tackle the task of setting one up by themselves, which is hardly surprising when you consider all of the possible complications.</p>
                <a href="[[~7]]" class="btn float-right">Tell me more!</a>
            </div>
            <div class="web hide">
                <p>
                <br><br>
                   As one of the most versatile companies offering website design services in Cape May, Figytech is able to provide you with a number of highly customizable packages that will satisfy all of your web or mobile related demands.
                </p>
                <p class="white">Members of our team have extensive experience in designing various types of websites, for individuals and for businesses of varying sizes alike. We can help you if you are a large corporation looking for more exposure on the web, just as well as we can if your intention is to showcase a particular product and want your site to mostly revolve around the product in question.</p>
                <a href="[[~8]]" class="btn float-right">Tell me more!</a>
            </div>
            <div class="repairs hide">
                <p>
                <br><br>
                   Businesses and individuals alike are heavily dependent on their computers, but not everyone has the time, resources or the experience to set them up properly and deal with some of the many problems that frequently occur with these subtle and unstable machines.
                </p>
                <p class="white">As everyone who has at some point had to deal with such a problem knows, the annoyance that even a minor issue can sometimes cause is often reason enough to let someone else deal with it, even if you are completely capable of fixing it yourself.</p>
                <a href="[[~9]]" class="btn float-right">Tell me more!</a>
            </div>
            <div class="software hide">
                <p>
                <br><br>
                   This service is mostly reserved for larger companies, but that is not to say that smaller businesses couldn't make use of it.
                </p>
                <p class="white">Developed businesses with large numbers of customers, departments and ongoing processes need a way to keep all aspects of their operation well organized and synchronized. The larger the company the more daunting this task becomes. Even though you have a lot of options when choosing commercial, packaged software, it is made for general use, and it is rarely able to offer you everything that you need.</p>
                <a href="[[~10]]" class="btn float-right">Tell me more!</a>
            </div>
        </div>
        <div style="border-top-color: #454545;" class="forma large-4 large-centered columns">
            <div class="bubble">
                FREE QUOTE
            </div>
            [[!AjaxForm?
                &snippet=`FormIt`
                &form=`tpl.quote`
                &hooks=`email`
                &emailSubject=`Free quote`
                &emailTo=`simplygrafx@gmail.com`
                &validate=`email:required,message:required`
                &validationErrorMessage=`Please fill all fields!`
                &successMessage=`Sent successfully`
            ]]
        </div>
    </div>
</section>
{{> footerNaslovna}}
