id: 2
pagetitle: Testimonials
longtitle: Testimonials
description: 'Whether you need to be perfect...'
alias: testimonials
published: 1
introtext: ''
content: ''
template: 4
menuindex: 1
cacheable: 0
createdby: 1
createdon: 1460382710
publishedon: 1460382660
publishedby: 1
uri: testimonials.html
properties: null
tvs:
    Testemonial: '[{"MIGX_id":"1","description":"<p>This is the best IT business in NJ</p>","client":"Daniel Kurkowski, Kurkowski law LLC"},{"MIGX_id":"2","description":"<p>Looking forward to seeing new web software</p>","client":"Cinnamon Kelly, A to Zebra rentals LLC"},{"MIGX_id":"3","description":"<p>It was the cable after all - thanks guys!</p>","client":"Mikaela Stanton"}]'
