id: 3
name: portfolioItem
description: ''
properties: 'a:0:{}'

-----

<div class="view view-fifth">
            <img src="[[+image]]" alt="">
            <div class="mask">
                <img src="[[+logo]]" alt="">
                <p>[[+description]]</p>
                <a href="[[+link]]" class="info">[[+link]]</a>
            </div>
        </div>