id: 2
name: tabsTitle
description: ''
properties: 'a:0:{}'

-----

[[+_first:isequalto=`1`:then=`<li style="background-color:#[[*Color]]" class="tabs-title is-active"><a href="#panel[[+idx]]" aria-selected="true">[[+title]]</a></li>`:else=`<li style="background-color:#[[*Color]]" class="tabs-title"><a href="#panel[[+idx]]">[[+title]]</a></li>`]]