id: 6
source: 1
name: tpl.quote
description: ''
category: AjaxForm
properties: 'a:0:{}'
static_file: core/components/ajaxform/elements/chunks/chunk.example.tpl

-----

<form action="" method="post" class="ajax_form af_example">
<input type="email" id="af_email" name="email" value="[[+fi.email]]" placeholder="Your e-mail (or phone number)">
[[+fi.error.email]]
<textarea style="height:80px;" id="af_message" name="message" placeholder="I need a quote for..."></textarea>
<input type="submit" class="btn float-right" value="Submit">

    [[+fi.success:is=`1`:then=`
    <div class="alert alert-success">[[+fi.successMessage]]</div>
    `]]
    [[+fi.validation_error:is=`1`:then=`
    <div class="alert alert-danger">[[+fi.validation_error_message]]</div>
    `]]
</form>