@import 'components/slider';
@import 'components/portfolio';

// ------- Content boxing --------- //

.head {
    background-color: #454545;
    height: 50px;
    color: #fff;
    border-bottom: 1px solid #52d2de;
    position: relative;
}
.inner {
    @include grid-row;
    position: relative;
    //height: 100%;
}
.logo {
    @include vertical-center;
}
.top-phone {
    @include vertical-center;
    background-image: url(../img/phone_back.png);
    right: 0;
    background-repeat: no-repeat;
    p {
        font-family: 'Abel', sans-serif;
        margin: 0;
        padding: 4px 20px;
        //font-size: 90%;
    }
}
.noshow {
    display: none;
}
.btn {
    @include button;
    background: #ffd388; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffd388 0%, #f4812e 86%, #f4812e 93%, #ffd388 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffd388 0%,#f4812e 86%,#f4812e 93%,#ffd388 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffd388 0%,#f4812e 86%,#f4812e 93%,#ffd388 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd388', endColorstr='#ffd388',GradientType=0 ); /* IE6-9 */
    border-radius: 4px;
    box-shadow: 0 0 9px #777;
    font-weight: bold;
    border: 1px solid #ccc;
    min-width: 8rem;
    &:hover {
        transition: ease-in-out 1s;
        background: -moz-linear-gradient(top,  #ffd388 0%, #f4812e 86%, #f4812e 93%, #ffd388 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #ffd388 0%,#f4812e 86%,#f4812e 93%,#ffd388 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #ffd388 0%,#f4812e 86%,#f4812e 93%,#ffd388 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd388', endColorstr='#ffd388',GradientType=0 ); /* IE6-9 */
        box-shadow: 0 0 4px 2px #fff;
    }
}
.border-right {
    border-right: 1px solid #454545;
    padding-right: 5rem!important;
}
input, textarea {
    border-radius: 4px!important;
}

.bubble {
	position: relative;
	background: #454545;
	border-top-color: inherit;
    border-radius: 0 0 10px 10px;
    text-align: center;
    width: 80%;
    color: white;
    font-size: 120%;
    padding: 5px;
    font-family: 'Abel', sans-serif;
    margin: 0 auto 20px auto;
    &.blue {
        background: #38BADB;
        width: 19rem;
    }
    &.testemonial {
        font-family: 'ABeeZee', Arial, sans-serif;
        font-size: 100%;
        width: 100%;
        padding: 1rem;
        border-radius: 10px;
        background-color: #36A3AD;
        text-align: left;
    }
}
.bubble:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(69, 69, 69, 0);
	border-top-color: inherit;
	border-width: 10px;
	margin-left: -10px;
}
.bubble.blue {
    border-top-color: #38BADB;
}
.bubble.testemonial {
    border-top-color: #36A3AD;
}

// ------- Baner home ------//

.baner {
    background-image: url(../img/networking.jpg);
    height: 444px;
    p {
        color: white;
        max-width: 500px;
    }
}
.baner_curtain {
    background-image: url(../img/black_curtain.png);
    background-position: -1000px 0px;
    background-repeat: no-repeat;
    height: 444px;
    margin: 0 auto;
    padding-top: 2rem;
}
.title {
    margin-bottom: 1rem;
    img {
        float: left;
        margin-right: 2rem;
    }
    h2 {
        margin-top: 1rem;
        float: left;
    }
}
ul.baner_nav {
    //position: absolute;
    bottom: 0;
    margin: 0;
    height: 108px;
    overflow: hidden;
    position: absolute;
    li {
        display: block;
        background-color: #454545;
        border-radius: 10px 10px 0 0;
        float: left;
        list-style-type: none;
        width: 112px;
        height: 108px;
        margin-top: 132px;
        margin-right: 3px;
        //background-image: url(/img/main_tabs.png);
        background-repeat: no-repeat;
        text-align: center;
        padding-top: 10px;
        position: relative;
        a {
            color: white;
            text-transform: uppercase;
            font-size: 90%;
            img {
                position: absolute;
                margin: auto;
                bottom: 5px;
                left: 20%;
            }
        }
        &.networks:hover {
            background-color: #DA8940;
            transition: all ease .5s
        }
        &.web:hover {
            background-color: #38BADB;
            transition: all ease .5s
        }
        &.repairs:hover {
            background-color: #5CB07A;
            transition: all ease .5s
        }
        &.software:hover {
            background-color: #DA5B5B;
            transition: all ease .5s
        }
    }
}

.baner_content {
    //padding: 2rem 0 .5rem 0;
    border-bottom: 1px solid #2e2e2e;
    p.white {
        color: #fff;
    }
    .btn {
        float: right;
    }
}
.subhead {
    background-color: #36A3AD;
    border-bottom: 5px solid #000;
    margin-bottom: 2rem;
    padding-top: 2rem;
    h2 {
        padding: 0 0 0 6rem;
        color: white;
        font-size: 200%;
        margin: 0;
    }
    p {
        padding-bottom: 2rem;
        padding-left: 7rem;
        color: white;
    }
}
.quote {
    text-align: center;
    background-color: #36A3AD;
    border-radius: 10px;
    padding: 0 1rem;
    border-top-color: #454545;
}
.box {
    border-top: 1px solid #36a3ad;
    border-bottom: 1px solid #36a3ad;
    border-top-color: #36a3ad;
    padding: 0 1rem;
    margin: 2rem 0;
    text-align: center;
    .bubble {
        background-color: #36a3ad;
        &:after {
            border-top-color: inherit;
        }
    }
}
.contact-bottom {
    background-color: #e6ba65;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
    a {
        font-size: 140%;
        font-family: 'Abel', sans-serif;
        color: black;
    }
}
.tabs-content {
    width: 100%;
    font-family: 'ABeeZee', Arial, sans-serif;
    font-size: 100%;
    background-color: #36a3ad;
    border-top: 1px solid #666;
    text-align: left;
    color: black;
    &:after {
        border-top-color: inherit;
    }
    a {
        text-decoration: underline;
        font-weight: bold;
    }
}
.tabs-title {
    border-radius: 10px 10px 0 0;
}
.tabs-title > a {
    border-radius: 10px 10px 0 0;
    background-color: #D7EDEF;
    font-family: 'Abel', sans-serif;
    font-size: 120%;
}
.tabs-title > a:focus, .tabs-title > a[aria-selected='true'] {
    color: white;
}
.contact-map {
    position: relative;
}
.curcle {
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    width: 240px;
    height: 240px;
    background-color: #454545;
    color: white;
    padding: 1rem;
    text-align: center;
    bottom: -3rem;
    z-index: 1;
    ul li{
        display: inline-block;
    }
}
.content {
    h2 {
        font-weight: bold;
        font-size: 150%;
    }
}
.video {
    @include vertical-center;
    right: 0;
    opacity: 0;
    a {
        color: white;
        font-family: 'Abel', sans-serif;
        font-size: 140%;
        float: right;
        padding: 0 170px 30px 0
    }
}
.close-button {
    right: 0;
    top: 0;
    font-size: 3rem;
    color: white;
}
.close-button:hover, .close-button:focus {
    color: #ccc;
}
// ------- Menu --------- //

.menu {
    font-family: 'Abel', sans-serif;
    margin: 5px 0 0 10rem;
    float: left;
    li {
        a {
            color: #fff;
            text-transform: capitalize;
            font-size: 110%;
            &:hover {
                color: #52d2de;
                transition: color ease .5s;
                background-image: url(../img/active_nav.png);
                background-position: center bottom;
                background-repeat: no-repeat;
            }
        }
    }
    &.vertical {
        margin: 0;
        a {
            color: #454545;
            padding: .6rem 1rem;
            &:hover {
                color: #52d2de;
                transition: color ease .5s;
                background-image: url(../img/active_nav_side.png);
                background-position: center left;
                background-repeat: no-repeat;
            }
        }
    }
}
.head .menu li a {
    text-transform: uppercase;
    font-size: 100%;
}
.menu .active > a {
    background: transparent;
    background-image: url(../img/active_nav.png);
    background-position: center bottom;
    background-repeat: no-repeat;
}
.menu.vertical .active > a {
    background: transparent;
    background-image: url(../img/active_nav_side.png);
    background-position: center left;
    background-repeat: no-repeat;
}
// ------------  Footer --------------//

.footer {
    background-color: #454545;
}
.slick-slider {
    background-color: white;
    padding: 0 2.5rem;
    margin-bottom: 0;
}
.slick-prev {
    left: 3px;
    &:before {
        content: url(../img/prev-nav.png);
    }
}
.slick-next {
    right: 3px;
    &:before {
        content: url(../img/next-nav.png);
    }
}
.links {
    border-top: 1px solid white;
    padding-top: 3rem;
    .column:first-child, {
        // padding-left: 0;
    }
    .column:last-child {
        // padding-right: 0;
    }
    ul {
        margin: 10px;
        list-style: none;
        li {
            padding: 3px 0;
            &.elipse {
                text-overflow: ellipsis;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                color: white;
            }
        }
    }
    a, p {
        color: white;
        
        &:hover {
            color: #ccc;
            transition: ease .5s;
        }
        img {
            margin-right: 1rem;
        }
    }
    h3 {
        color: #52d2de;
        font-size: 130%;
        border-bottom: 1px solid #52d2de;
    }
}
.forma{
    padding-left: 4rem;
}
// mob menu
.mob-head{
    padding: 0;
    display: none;
}
.mob-btn{
    text-align: right;
}
.mob-menu{
    display: none;
    .menu.vertical a {
    color: white;
    }
    .menu.vertical a:hover {
    transition: color ease .5s;
    background-image: none;
    }
    ul{
        width: 100%;
        text-align: center;
        background-color: #454545;
        color: #fff;
        position: relative;
        z-index: 1;
    }
    a{
        border-bottom: 1px solid #52d2de;
    }

}
.forma{
    padding: 0 0 0 15px!important;
}
@media (max-width: 870px) {
    .desk-menu{
        display: none;
    }
    .mob-head{
        display: block;
    }
    .forma{
        padding: 0 15px!important;
    }
}
// naslovna

.baner-mob{
    margin: 0;
    padding: 0;
}
.network-mob{
    background-image:  url(../img/networking-mob.jpg);
    background-repeat: no-repeat;
    background-position: left;
}
.web-mob{
    background-image:  url(../img/web-solutions-mob.jpg);
    background-repeat: no-repeat;
    background-position: left;
}
.repairs-mob{
    background-image:  url(../img/repairs-mob.jpg);
    background-repeat: no-repeat;
    background-position: left;
}
.software-mob{
    background-image:  url(../img/software-mob.jpg);
    background-repeat: no-repeat;
    background-position: left;
}
.title-mob{
    height: 420px;
    img{
        padding-top:20px;
    }
    text-align: center!important;
    p{
        color: white;
        text-align: justify;
        padding: 15px;
        margin: 0;
    }
}
@media (max-width: 425px) {
    .title-mob{
        p{
            padding-top: 5px;
            font-size: 13px;
        }
    }
}
.baner-mob-menu{
    border-bottom: 1px black solid;
    margin: 0;
    padding: 0;
    text-align: center;
}
@media (max-width: 640px) {
    .links{
        text-align: center;
    }
    .tabs-title > a {
        font-size: 12px;
        padding: 10px;
    }
}
// about
@media (min-width: 640px) {
    .baner-height{
        border-bottom: none;
        padding-top: 49px;
        img{
            max-width: none;
        }
    }
}

@media (max-width: 1024px) {
    section.large-4{
        padding: 0 15px!important;
    }
    .mapa{
        padding: 0 15px!important;
        .column{
            margin: 0 auto;
        }
    }
    // contact
    .contact-map{
        padding: 0;
        max-width: 500px;
        margin: 0 auto;
        position: relative;
    }


}
.curcle{
    ul{
        margin: 0;
    }
}
.google-desk{
    padding: 0;
}
@media (max-width: 560px) {
    .google-desk{
        width: 100%!important;
        border-radius: 0!important;
    }
    #gmap_canvas{
        width: 100%!important;
        border-radius: 0!important;
    }
}
