{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[*pagetitle]] | [[++site_name]]</title>
    <link rel="stylesheet" href="[[++path]]assets/css/app.css">
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css'>
    <base href="[[++site_url]]">
    <style>
        .content h2 {
            color: #[[*Color]];
        }    
    </style>
  </head>
  <body>

    {{> header}}
    {{> body}}

    <script src="[[++path]]assets/js/app.js"></script>
  </body>
</html>